.game-field {
  background-color: #FFFF00;
  min-height: 10vh;
  margin: 1px 1px 1px 1px;
  line-height: 10vh;
}

.target {
  background-color: #FF00FF;
  color: white;
  font-size: 24pt;
  text-align: center;
}

.miss {
  background-color: #8B0000;
}
